html,
body {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    margin-top: 1rem;
}

.content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.card {
    margin-top: 1rem;
}

.emoji {
    width: 1em;
    height: 1em;
}

#search-btn {
    cursor: pointer;
}
